http:
  ## EXTERNAL ROUTING EXAMPLE - Manually proxied service ##
  routers:
    application:
      entryPoints:
        - https
      rule: "Host(`sub.domain.com`)"
      service: service_name
      middlewares:
        - auth-ratelimit
  services:
    service_name:
      loadBalancer:
        servers:
          - url: http://192.168.1.101:8080
        passHostHeader: true
  ## MIDDLEWARES ##
  middlewares:
    # Only Allow Local networks
    local-ipwhitelist:
      ipWhiteList:
        sourceRange:
          - "172.19.0.0/16"
    crowdsec-bouncer:
      forwardAuth:
        address: http://crowdsec-bouncer-traefik:8080/api/v1/forwardAuth
        trustForwardHeader: true
    compress:
      compress:
        excludedContentTypes:
          - text/event-stream
          - video/mp4
          - video/webm
          - video/x-matroska
          - audio/mpeg
          - audio/ogg
          - image/jpeg
          - image/png
          - image/webp
    # Security Headers
    securityHeaders:
      headers:
        customResponseHeaders:
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex"
          Server: ""
        frameDeny: false
        customFrameOptionsValue: "SAMEORIGIN"
        referrerPolicy: "strict-origin-when-cross-origin"
        hostsProxyHeaders:
          - "X-Forwarded-Host"
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsSeconds: 31536000
        stsPreload: true

    auth-ratelimit:
      rateLimit:
        average: 5
        period: 3m
        burst: 5

        
# Only use secure ciphers - https://ssl-config.mozilla.org/
tls:
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true
      curvePreferences:
        - X25519
        - CurveP256
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
