global:
  checkNewVersion: true
  sendAnonymousUsage: false

entryPoints:
  http:
    address: :80
    forwardedHeaders:
      trustedIPs: &trustedIps
        - "172.19.0.0/16"  # local docker network
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: :443
    forwardedHeaders:
      trustedIPs: *trustedIps
    http:
      tls:
        certResolver: letsencrypt
        domains:
          - main: yourdomain.com
            sans:
              - '*.yourdomain.com'
      middlewares:
        - securityHeaders@file
        - local-ipwhitelist@file
        - compress@file
        - crowdsec-bouncer@file
providers:
  providersThrottleDuration: 2s

  # File provider for connecting things that are outside of docker / defining middle`are
  file:
    filename: /etc/traefik/fileConfig.yml
    watch: true

# Enable traefik ui
api:
  dashboard: false

# Log level INFO|DEBUG|ERROR
log:
  filePath: "/etc/traefik/logs/traefik.log"
  level: INFO
  maxSize: 10
  maxBackups: 3
  maxAge: 7

# Use letsencrypt to generate ssl serficiates
certificatesResolvers:
  letsencrypt:
    acme:
      email: your@email.com
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: cloudflare
        # Used to make sure the dns challenge is propagated to the rights dns servers
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
accessLog:
  filePath: "/etc/traefik/logs/access.log"
  bufferingSize: 100
  fields:
    headers:
      defaultMode: drop
  filters:
    statusCodes:
      - "200-599"
