services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    networks:
      - warptunnel
    environment:
      HOMEPAGE_ALLOWED_HOSTS: 192.168.50.64:3003,home.hostname.org
      PUID: 1000
      PGID: 1000
    ports:
      - 3003:3000
    volumes:
      - /opt/appdata/homepage/:/app/config/
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.homepage.entryPoints=https
      - traefik.http.routers.homepage.rule=Host(`home.hostname.org`)
    restart: always
networks:
  warptunnel:
    external: true